.container{
    background: #eff0f2;
    padding: 5px 0;
}
.wrapper{
    font-family: 'Nunito Sans', sans-serif;
    max-width: 1000px;
    margin: 25px auto;
    box-shadow: 0px 0px 31px 2px rgba(34, 60, 80, 0.4);
    padding: 50px;
    background: #335384;
    box-sizing: border-box;
}


.project__block{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.project__content{
    max-width: 400px;
}

.project__pic:hover .project__pic-img{
    width: 410px;
}


.project__pic-img{
    width: 400px;
    transition: 500ms all;
    /* height: 400px; */
}

.project__title{
    font-size: 54px;
    font-weight: 800;
    line-height: 72px;
}

.project__text{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 20px;
    line-height: 32px;
}

.project__link{
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    border: 2px solid white;
    text-align: center;
    padding: 12px 0;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
}

@media screen and (max-width: 920px){
    .wrapper{
        max-width: 800px;
    }

    .project__pic-img{
        width: 300px;
    }

    .project__pic:hover .project__pic-img{
        width: 310px;
    }

    .project__content {
        max-width: 300px;
    }

    .project__title {
        font-size: 40px;
        line-height: 62px;
    }

    .project__text {
        font-size: 18px;
        line-height: 28px;
    }

    .project__link {
        padding: 15px 0;
        font-size: 18px;
    }
    
}

@media screen and (max-width: 720px){
    .wrapper{
        max-width: 500px;
    }

    .project__block {
       flex-direction: column;
    }
    
}

@media screen and (max-width: 400px){
    .wrapper{
        max-width: 300px;
        padding: 20px 5px;
    }

     .project__pic-img{
        width: 280px;
    }

    .project__pic:hover .project__pic-img{
        width: 290px;
    }

    .project__content {
        max-width: 280px;
    }
    .project__title {
        font-size: 32px;
        line-height: 62px;
    }
    
}
